includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
        - resources/views/

 


    level: 4

    excludePaths:
        - app/dompdf/*
        - app/Models/Traits/Mutators/FinancialStatementAbleMutator.php
        - app/Models/LabelingItem.php
        - app/Models/FinancialStatement.php
        - app/Models/Traits/Accessors/FinancialStatementItemAccessor.php
        - app/Models/Traits/Accessors/FinancialStatementAccessor.php
        - app/Models/Traits/Accessors/FinancialStatementAbleAccessor.php
        - app/Models/Traits/Relations/FinancialStatementRelation.php
        - app/Models/Traits/Mutators/FinancialStatementMutator.php
        - app/Traits/HasIndexedDates.php
