includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
        - resources/views/

 

    scanFiles:
        - _ide_helper_models.php
    level: 4

    excludePaths:
        - app/dompdf/*
