includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
        - resources/views/

    # المستوى (من 0 إلى 9) - 0 هو الأسهل و 9 هو الأكثر صرامة
    level: 4

    excludePaths:
        - app/dompdf/*
